<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>

<div class="container mt-5">
    <% if (typeof uploaded === 'boolean' && uploaded) { %>
        <div class="alert alert-success" role="alert">
            File Uploaded!
        </div>
    <% } %>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <% navs.forEach(function(nav){ %>
                <% if (nav.active) { %>
                    <li class="breadcrumb-item active"><%= nav.name %></li>
                <% } else { %>
                    <li class="breadcrumb-item"><a href="<%= nav.url %>"><%= nav.name %></a></li>
                <% } %>
            <% }); %>
        </ol>
    </nav>
    <div class="operations mb-3">
        <button type="button" class="btn btn-primary" id="upload-button">Upload</button>
        <form action="" id="upload-form" method="post" enctype="multipart/form-data" class="d-none">
            <input type="file" id="upload-field" name="fileToUpload">
            <input type="submit">
        </form>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#mkdirModal">New Folder</button>
        <a href="/logout" class="btn btn-default float-right">Logout</a>
    </div>
    <div class="d-none d-md-block">
        <table class="table">
            <thead>
                <tr> 
                <th scope="col">Name</th>
                <th scope="col">Size</th>
                <th scope="col">Type</th>
                <th scope="col">Modify Time</th>
                </tr>
            </thead>
            <tbody>
                <% files.forEach(function(file){ %>
                    <tr>
                        <td>
                            <% include partials/file %> 
                        </td>
                        <td><%= file.size %></td>
                        <td><%= file.type %></td>
                        <td><%= file.time %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div class="d-md-none">
        <% files.forEach(function(file){ %>
            <% include partials/file %> 
        <% }); %>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you really want to delete <span id="delete-confirm-name" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger confirm-delete">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mkdirModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/file/mkdir?path=<%= directory %>" id="mkdir-form" method="post">
                    <div class="form-group">
                        <label for="folder-name" class="col-form-label">Folder name:</label>
                        <input type="text" class="form-control" id="folder-name" name="folder" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary confirm-mkdir">Create Folder</button>
            </div>
        </div>
    </div>
</div>
<% include partials/foot %>
</body>
</html>