<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>

<div class="container mt-5">
    <% if (typeof uploaded === 'boolean' && uploaded) { %>
        <div class="alert alert-success" role="alert">
            File Uploaded!
        </div>
    <% } %>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <% navs.forEach(function(nav){ %>
                <% if (nav.active) { %>
                    <li class="breadcrumb-item active"><%= nav.name %></li>
                <% } else { %>
                    <li class="breadcrumb-item"><a href="<%= nav.url %>"><%= nav.name %></a></li>
                <% } %>
            <% }); %>
        </ol>
    </nav>
    <div class="operations mb-3">
        <button type="button" class="btn btn-primary" id="upload-button">Upload</button>
        <form action="" id="upload-form" method="post" enctype="multipart/form-data" style="display:none">
            <input type="file" id="upload-field" name="fileToUpload">
            <input type="submit">
        </form>
    </div>
    <div class="d-none d-md-block">
        <table class="table">
            <thead>
                <tr> 
                <th scope="col">Name</th>
                <th scope="col">Size</th>
                <th scope="col">Type</th>
                <th scope="col">Modify Time</th>
                </tr>
            </thead>
            <tbody>
                <% files.forEach(function(file){ %>
                    <tr>
                        <td>
                            <div class="text-nowrap text-truncate">
                                <img src="/asset/icons/<%= file.icon %>.svg" width="24" height="24" />
                                <a
                                    href="<%= file.url %>"
                                    <%= file.isDir ? '' : 'target="_blank"' %>
                                ><%= file.name %></a>
                            </div>
                        </td>
                        <td><%= file.size %></td>
                        <td><%= file.type %></td>
                        <td><%= file.time %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div class="d-md-none">
        <% files.forEach(function(file){ %>
            <div class="text-nowrap text-truncate border-bottom pb-1 mb-1">
                <img src="/asset/icons/<%= file.icon %>.svg" width="24" height="24" />
                <a
                    href="<%= file.url %>"
                    <%= file.isDir ? '' : 'target="_blank"' %>
                ><%= file.name %></a>
            </div>
        <% }); %>
    </div>
</div>
</body>
<% include partials/foot %>
</html>