<div class="file-name d-flex">
    <div class="text-nowrap text-truncate">
        <img src="/asset/icons/<%= file.icon %>.svg" width="24" height="24" />
        <a
            href="<%= file.url %>"
            <%= file.isDir ? '' : 'target="_blank"' %>
        ><%= file.name %></a>
    </div>
    <div class="operation dropdown pl-2">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
        <form action="/delete?path=<%= file.path %>&isDir=<%= file.isDir ? 1 : 0 %>" class="delete-form d-none" method="post">
            <input type="submit">
        </form>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Rename</a>
            <a class="dropdown-item delete" href="#" data-file-name="<%= file.name %>">Delete</a>
        </div>
    </div>
</div>